.formulario {
    width: 100%;
}

@media (min-width: 768px) {
    .formulario {
        width: 60%;
    }
}

input {
    height: 2.5rem;
}

.control .opciones {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}

.control form {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.caja-de-texto {
    padding: 0.5rem 1rem;
    width: 100%;
}

@media (min-width: 768px) {
    .caja-de-texto {
        width: 50%;
    }
}

.boton {
    background-color: var(--blanco);
    color: var(--colorPrincipal);
    outline: none;
    border: 2px solid var(--colorPrincipal);
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    height: 2.5rem;
}

.boton.boton-principal {
    background-color: var(--colorPrincipal);
    color: var(--blanco);
}

.boton:hover {
    cursor: pointer;
}

.campo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem 0;
}

.campo-tres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}

    
