html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    margin: 0;
}

body{ 
    display:flex; 
    flex-direction:column; 
}

* {
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
}

h1, h2, h3 {
    font-family: var(--fuenteTitulos);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.3rem;
}

img {
    max-width: 100%;
}

