.tabla {
    margin-top: 3rem;
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> 9486bf87cba6c8c6a37778ff6ba4510925533f38
}

.tabla th{
    color: var(--blanco);
    background-color: var(--colorPrincipal);
    padding: 1rem;
}

.tabla td {
    text-align: center;
    padding: 0.5rem;
}

.tabla td img {
    max-width: 50px;
}

@media (min-width: 768px) {
    .tabla td img {
        max-width: 100px;
    }        
}


tbody tr:nth-child(odd){
    background-color: #dfdfdf;
}