.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

.invisible {
    display: none!important;
}

.visible {
    display: auto;
}

.w-100 {
    width: 100%;
}

.capitalize {
    text-transform: capitalize; 
}

.bold {
    font-weight: bold;
}


@media (min-width: 992px) {
    .centrar-verticalmente {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }    
}