@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --colorPrincipal: #3c4394;
    --colorSecundario:#04abf2;
    --fuentePrincipal: 'Segoe UI', sans-serif;
    --fuenteTitulos: 'Poppins', sans-serif;
    --blanco: #FFF;
    --negro: #000;
}