main {
    width: 100%;
<<<<<<< HEAD
    /* grid-template-rows: 1fr 15fr; */
}

=======
}
>>>>>>> 9486bf87cba6c8c6a37778ff6ba4510925533f38
@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 0.5fr 3fr;
        column-gap: 1rem;
    }
<<<<<<< HEAD
=======
    
>>>>>>> 9486bf87cba6c8c6a37778ff6ba4510925533f38
}   