.sidebar .menu{
    text-align: center;
    display: flex;
}

.sidebar {
    overflow-x:scroll; 
    /* overflow: hidden; */
}

@media (min-width: 768px) {
    .sidebar .menu {
        flex-direction: column;
        text-align: left;
    }
    
    .sidebar {
        display: block;
        height: 80vh;
    }
}

.sidebar .menu {
    list-style: none;
}

.menu{
    padding: 0;
}

.menu li {
    margin-bottom: 1rem;
}

.menu-item {
    font-weight: bold;
    text-decoration: none;
    color: var(--negro);
    padding: 1rem;
    display: block;
    white-space: nowrap;
}

.menu-item:hover {
    cursor: pointer;
    text-decoration: 3px underline var(--colorPrincipal);
}